---
import BaseLayout from "@layouts/BaseLayout.astro";
import RevolugoCard from "@components/project-cards/RevolugoCard.astro";
import CyclofixCard from "@components/project-cards/CyclofixCard.astro";
import IntefastCard from "@components/project-cards/IntefastCard.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-6 mt-5">
    <div class="text-xl py-1">{t("index.hello")}</div>
    <div class="text-5xl font-bold">{t("index.me")}</div>
    <div class="text-2xl py-3">{t("index.position")}</div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      {t("index.lastProjects")}
      {"</>"}
    </div>
  </div>
  <RevolugoCard />
  <div class="divider my-0"></div>
  <CyclofixCard />
  <div class="divider my-0"></div>
  <IntefastCard />
</BaseLayout>
