---
import BaseLayout from "@layouts/BaseLayout.astro";
import BetterwayCard from "@components/project-cards/BetterwayCard.astro";
import RevolugoCard from "@components/project-cards/RevolugoCard.astro";
import CyclofixCard from "@components/project-cards/CyclofixCard.astro";
import IntefastCard from "@components/project-cards/IntefastCard.astro";
import WizardCard from "@components/project-cards/WizardCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <BetterwayCard />
  <div class="divider my-0"></div>
  <RevolugoCard />
  <div class="divider my-0"></div>
  <CyclofixCard />
  <div class="divider my-0"></div>
  <IntefastCard />
  <div class="divider my-0"></div>
  <WizardCard />
</BaseLayout>
