---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formations</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Coding Bootcamp - Développeur web et mobile Fullstack JavaScript"
      subtitle="2020 La Capsule, Paris"
    />
    <TimeLineElement
      title="Licence Professionnelle Administration Système et Réseaux"
      subtitle="2016 - 2017 Université Paris-Est Créteil, Lieusaint"
    />
    <TimeLineElement
      title="BTS Informatique"
      subtitle="2013 - 2015 Lycée Saint-Aspais, Melun"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Expériences Professionnelles</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Développeur Fullstack"
      subtitle="Mai 2023 - Aujourd'hui Révolugo, Paris"
    >
    <div>
      <ul>
        <li>toto</li>
        <li>toto</li>
      </ul>
    </div>
  </TimeLineElement>
    <TimeLineElement
      title="Développeur Frontend"
      subtitle="Juin 2021 - Avril 2023 Cyclofix, Paris"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Développeur Fullstack"
      subtitle="Octobre 2020 - Mai 2021 Interfast, Paris"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Teacher Assistant"
      subtitle="Juin 2020 - Décembre 2020 La Capsule, Paris"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Chef de projet"
      subtitle="Août 2019 - Décembre 2019 Castelis, Ivry-sur-seine"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Incident Manager"
      subtitle="Septembre 2017 - Juin 2019  SNCF Réseau, Paris"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <span>TOEIC - 980/990</span>
    </li>
    <li>
      <span>ITIL V3 FOUNDATION</span>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>TypeScript</li>
    <li>React</li>
    <li>React Native</li>
    <li>Vue2</li>
    <li>Vue3</li>
    <li>Next.js</li>
    <li>Nuxt.js</li>
    <li>Storybook</li>
    <li>Node.js</li>
    <li>Express</li>
    <li>GraphQl</li>
    <li>PostgreSQL</li>
    <li>Sequelize</li>
    <li>Mongo DB</li>
    <li>Git</li>
  </ul>
</BaseLayout>
