---
import BaseLayout from "@layouts/BaseLayout.astro";
import TimeLineElement from "@components/cv/TimeLine.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.profile")}</div>
  </div>

  <div class="mb-10 text-justify">
    {t("cv.description")}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.formations")}</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title={t("cv.lacapsule.title")}
      subtitle={t("cv.lacapsule.subtitle")}
    />
    <TimeLineElement
      title={t("cv.licence.title")}
      subtitle={t("cv.licence.subtitle")}
    />
    <TimeLineElement
      title={t("cv.bts.title")}
      subtitle={t("cv.bts.subtitle")}
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      {t("cv.professionalExperience")}
    </div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title={t("cv.revolugo.title")}
      subtitle={t("cv.revolugo.subtitle")}
    >
      <p class="mb-2">
        {t("cv.revolugo.description")}
      </p>
      <ul class="mb-2">
        <li>
          {t("cv.revolugo.task.1")}
        </li>
        <li>
          {t("cv.revolugo.task.2")}
        </li>
        <li>
          {t("cv.revolugo.task.3")}
        </li>
        <li>
          {t("cv.revolugo.task.4")}
        </li>
        <li>
          {t("cv.revolugo.task.5")}
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title={t("cv.cyclofix.title")}
      subtitle={t("cv.cyclofix.subtitle")}
    >
      <p class="mb-2">
        {t("cv.cyclofix.description")}
      </p>
      <ul class="mb-2">
        <li>
          {t("cv.cyclofix.task.1")}
        </li>
        <li>
          {t("cv.cyclofix.task.2")}
        </li>
        <li>
          {t("cv.cyclofix.task.3")}
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title={t("cv.interfast.title")}
      subtitle={t("cv.interfast.subtitle")}
    >
      <p class="mb-2">
        {t("cv.interfast.description")}
      </p>
    </TimeLineElement>
    <TimeLineElement
      title={t("cv.capsuleteacher.title")}
      subtitle={t("cv.capsuleteacher.subtitle")}
    >
      <p class="mb-2">
        {t("cv.capsuleteacher.description")}
      </p>
    </TimeLineElement>
    <TimeLineElement
      title={t("cv.castelis.title")}
      subtitle={t("cv.castelis.subtitle")}
    >
      <p class="mb-2">
        {t("cv.castelis.description")}
      </p>
    </TimeLineElement>
    <TimeLineElement
      title={t("cv.sncf.title")}
      subtitle={t("cv.sncf.subtitle")}
    >
      <p>{t("cv.sncf.description")}</p>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <span>TOEIC - 980/990</span>
    </li>
    <li>
      <span>ITIL V3 FOUNDATION</span>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>TypeScript</li>
    <li>React</li>
    <li>React Native</li>
    <li>Vue2</li>
    <li>Vue3</li>
    <li>Next.js</li>
    <li>Nuxt.js</li>
    <li>Storybook</li>
    <li>Node.js</li>
    <li>Express</li>
    <li>GraphQl</li>
    <li>PostgreSQL</li>
    <li>Sequelize</li>
    <li>Mongo DB</li>
    <li>Git</li>
  </ul>
</BaseLayout>
