---
import LanguagePicker from "./LanguagePicker.astro";
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="flex-1">
    <LanguagePicker class="justify-self-end" />
    <div>
      {today.getFullYear()} Alexandre Gvozdenovic
    </div>
  </div>
</footer>
<style></style>
