---
import { languages } from "@i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<div>
  {
    Object.entries(languages).map(([lang, label]) => (
      <span>
        <a href={translatePath("/", lang)}>{label}</a>
      </span>
    ))
  }
</div>
